.about_description {
  color: black;
  margin-bottom: 30px;
}
.about_description p {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.6;
}
.about_skills > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  border-bottom: 2px solid blue;
  padding-bottom: 10px;
  padding-top: 30px;
  color: blue;
}
@media screen and (min-width: 768px) {
  .about_skills {
    display: flex;
    gap: 30px;
  }
  .about_skills > div {
    flex-grow: 1;
  }
}
.about_skills > div:nth-child(2) {
  border-bottom: 2px solid red;
  color: red;
}
.about_skills > div:nth-child(3) {
  border-bottom: 2px solid green;
  color: green;
}
.about_skills > div:nth-child(4) {
  border-bottom: 2px solid purple;
  color: purple;
}
.about_skills i {
  font-size: 30px;
  margin-bottom: 20px;
}
.about_skills h3 {
  font-weight: 500;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: black;
  font-size: 20px;
}
