.edu__container {
  margin-top: 50px;
  padding-left: 40px;
  margin-left: 30px;
  border-left: 5px solid #f2f3f7;
  position: relative;
}

.edu__box {
  background: #f2f3f7;
  padding: 15px 25px;
  margin-bottom: 10px;
  position: relative;
}

.edu__box > h2 {
  font-size: 20px;
  color: #000;
}
.edu__box > h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
}

.edu__box > h2,
.edu__box > h3 {
  font-family: var(--font-quicksand);
  font-weight: 500;
}

.edu__box span {
  opacity: 0.4;
  font-size: 16px;
  position: absolute;
  right: 30px;
}
.edu__box .stream {
  display: inline-block;
  font-size: 16px;
  opacity: 0.4;
  font-weight: normal;
  font-style: normal;
}
