#hero {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100vh;
  padding: 40px;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../images/bgimage.jpg");
  background-attachment: fixed;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
  background-color: #f2f3f7;
  transform: translateX(0);
  transition: transform 500ms ease;
}
#hero > h1 {
  font-family: "playfair Display";
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.3;
}
#hero > p {
  font-weight: 300;
  margin-bottom: 28px;
  line-height: 1.5;
  font-size: 18px;
}
#hero > button {
  width: 220px;
  background: transparent;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: 1px solid black;
  border-radius: 2px;
}
#hero > button:hover {
  background: rgb(202, 202, 202);
  color: rgb(0, 0, 0);
  transition:
    background 300ms ease,
    color 300ms ease;
}
#hero > button a {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 400px) {
  .hero__img {
    width: 70%;
  }
}

@media screen and (min-width: 650px) {
  .hero__img {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .hero__img {
    width: 70%;
  }
}

@media screen and (min-width: 950px) {
  .hero__img {
    width: 60%;
  }
}

@media screen and (min-width: 1050px) {
  .hero__img {
    width: 50%;
  }
}
